<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  >

<listeners>
<listener class-name="GlobalProp.Listener"/>
</listeners> <test  name="LoginValidations">
    <classes>
      <class name="Ecommerce.EcommerceOder.LoginFLVs"/>
     </classes>
  </test>
<test  name="Make a Order">
    <classes>
      <class name="Ecommerce.EcommerceOder.MakeOrder"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
